In [1]:
'''
Build nearest neighbor clustering model to help identify similarities in groups.

Ex: Cluster wiki articles based on topic to present to user as 'simiar' 
articles.
'''

import os
import numpy as np
import pandas as pd

from scipy.sparse import csr_matrix
#from scipy.sparse import csc_matrix

from sklearn.neighbors import NearestNeighbors

In [2]:
wiki_data = pd.read_csv('../data/Wikipedia/people_wiki.csv')
wiki_data.head()

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...
3,<http://dbpedia.org/resource/Franz_Rottensteiner>,Franz Rottensteiner,franz rottensteiner born in waidmannsfeld lowe...
4,<http://dbpedia.org/resource/G-Enka>,G-Enka,henry krvits born 30 december 1974 in tallinn ...

In [3]:
word_count = np.load(r'../data/Wikipedia/people_wiki_word_count.npz')
word_count.files

['indices', 'indptr', 'shape', 'data']

In [4]:
word_count['indices']

array([  5877,  92219, 227191, ..., 547976, 547977, 547978], dtype=int32)

In [5]:
word_count['indptr']

array([       0,      139,      286, ..., 10379022, 10379155, 10379283], dtype=int32)

In [6]:
word_count['shape']

array([ 59071, 547979])

In [7]:
word_count['data']

array([ 1,  1,  1, ...,  6,  9, 14])

In [8]:
def load_sparse_csr(filename):
    loader = np.load(filename)
    data = loader['data']
    indices = loader['indices']
    indptr = loader['indptr']
    shape = loader['shape']
    
    return csr_matrix((data, indices, indptr), shape, dtype= 'int32')

In [9]:
word_count = load_sparse_csr(r'../data/Wikipedia/people_wiki_word_count.npz').toarray()

In [10]:
word_count_sample = word_count[:500]

In [11]:
model = NearestNeighbors(metric= 'euclidean', algorithm= 'brute')

model.fit(word_count_sample)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='euclidean',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [12]:
wiki_data[wiki_data['name'] == 'Barack Obama']

,URI,name,text
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...

In [13]:
word_count_sample.shape

(500, 547979)

In [14]:
word_count_sample.dtype

dtype('int32')

In [15]:
word_count_sample.size

273989500

In [16]:
distances, indicies = model.kneighbors(word_count_sample[[42]], n_neighbors= 10)

In [17]:
distances

array([[  0.        ,  22.95648057,  24.20743687,  24.81934729,
         24.8997992 ,  24.93992783,  25.05992817,  25.0998008 ,
         25.17935662,  25.21904043]])

In [18]:
indicies

array([[ 42, 142,  55, 480, 496, 198, 438, 365, 111, 156]])

In [19]:
neighbors = pd.DataFrame({'distance':distances.flatten(), 'id':indicies.flatten()})

In [20]:
neighbors

    distance   id
0   0.000000   42
1  22.956481  142
2  24.207437   55
3  24.819347  480
4  24.899799  496
5  24.939928  198
6  25.059928  438
7  25.099801  365
8  25.179357  111
9  25.219040  156

In [21]:
wiki_data.join

<bound method DataFrame.join of                                                      URI  \
0            <http://dbpedia.org/resource/Digby_Morrell>
1           <http://dbpedia.org/resource/Alfred_J._Lewy>
2            <http://dbpedia.org/resource/Harpdog_Brown>
3      <http://dbpedia.org/resource/Franz_Rottensteiner>
4                   <http://dbpedia.org/resource/G-Enka>
5            <http://dbpedia.org/resource/Sam_Henderson>
6            <http://dbpedia.org/resource/Aaron_LaCrate>
7          <http://dbpedia.org/resource/Trevor_Ferguson>
8             <http://dbpedia.org/resource/Grant_Nelson>
9             <http://dbpedia.org/resource/Cathy_Caruth>
10            <http://dbpedia.org/resource/Sophie_Crumb>
11           <http://dbpedia.org/resource/Jenn_Ashworth>
12        <http://dbpedia.org/resource/Jonathan_Hoefler>
13     <http://dbpedia.org/resource/Anthony_Gueterboc...
14      <http://dbpedia.org/resource/David_Chernushenko>
15          <http://dbpedia.org/resource/Joerg_Steineck>
16          <http://dbpedia.org/resource/Andrew_Pinsent>
17     <http://dbpedia.org/resource/Paddy_Dunne_(Gael...
18       <http://dbpedia.org/resource/Alexandros_Mouzas>
19     <http://dbpedia.org/resource/John_Angus_Campbell>
20          <http://dbpedia.org/resource/Chris_Batstone>
21           <http://dbpedia.org/resource/Ceiron_Thomas>
22            <http://dbpedia.org/resource/Adel_Sellimi>
23           <http://dbpedia.org/resource/Faith_Soloway>
24            <http://dbpedia.org/resource/Tom_Jennings>
25             <http://dbpedia.org/resource/Vic_Stasiuk>
26         <http://dbpedia.org/resource/Anthony_Caruana>
27     <http://dbpedia.org/resource/Ian_Mitchell_(aut...
28            <http://dbpedia.org/resource/Leon_Hapgood>
29            <http://dbpedia.org/resource/Emily_Osment>
...                                                  ...
59041          <http://dbpedia.org/resource/Mokob%C3%A9>
59042      <http://dbpedia.org/resource/F._Enzio_Busche>
59043      <http://dbpedia.org/resource/Christian_Wiman>
59044  <http://dbpedia.org/resource/Ellyn_Setnor_Bogd...
59045          <http://dbpedia.org/resource/Katya_Adler>
59046   <http://dbpedia.org/resource/Anthony-Noel_Kelly>
59047       <http://dbpedia.org/resource/Mignon_Clyburn>
59048    <http://dbpedia.org/resource/Charles_A._Miller>
59049       <http://dbpedia.org/resource/Rodolfo_Parada>
59050  <http://dbpedia.org/resource/Giwi_Margwelaschw...
59051     <http://dbpedia.org/resource/Geoffrey_Kipsang>
59052         <http://dbpedia.org/resource/Dave_Nilsson>
59053       <http://dbpedia.org/resource/Jessica_Jordan>
59054     <http://dbpedia.org/resource/Marina_Mulyayeva>
59055  <http://dbpedia.org/resource/Jo%C3%ABl_de_Rosnay>
59056          <http://dbpedia.org/resource/Amy_Jenkins>
59057  <http://dbpedia.org/resource/Roy_Zimmerman_(sa...
59058        <http://dbpedia.org/resource/George_Krause>
59059           <http://dbpedia.org/resource/Sean_Slade>
59060         <http://dbpedia.org/resource/Lynne_Lipton>
59061             <http://dbpedia.org/resource/Rod_Wilt>
59062  <http://dbpedia.org/resource/Scott_Baker_(judge)>
59063  <http://dbpedia.org/resource/Dragoljub_Ojdani%...
59064            <http://dbpedia.org/resource/Oz_Bengur>
59065  <http://dbpedia.org/resource/Dee_Brown_(basket...
59066           <http://dbpedia.org/resource/Olari_Elts>
59067       <http://dbpedia.org/resource/Scott_F._Crago>
59068  <http://dbpedia.org/resource/David_Cass_(footb...
59069          <http://dbpedia.org/resource/Keith_Elias>
59070         <http://dbpedia.org/resource/Fawaz_Damrah>

                                          name  \
0                                Digby Morrell
1                               Alfred J. Lewy
2                                Harpdog Brown
3                          Franz Rottensteiner
4                                       G-Enka
5                                Sam Henderson
6                                Aaron LaCrate
7                              Trevor Ferguson
8                                 Grant Nelson
9                                 Cathy Caruth
10                                Sophie Crumb
11                               Jenn Ashworth
12                            Jonathan Hoefler
13     Anthony Gueterbock, 18th Baron Berkeley
14                          David Chernushenko
15                              Joerg Steineck
16                              Andrew Pinsent
17             Paddy Dunne (Gaelic footballer)
18                           Alexandros Mouzas
19                         John Angus Campbell
20                              Chris Batstone
21                               Ceiron Thomas
22                                Adel Sellimi
23                               Faith Soloway
24                                Tom Jennings
25                                 Vic Stasiuk
26                             Anthony Caruana
27                       Ian Mitchell (author)
28                                Leon Hapgood
29                                Emily Osment
...                                        ...
59041                              Mokob%C3%A9
59042                          F. Enzio Busche
59043                          Christian Wiman
59044                   Ellyn Setnor Bogdanoff
59045                              Katya Adler
59046                       Anthony-Noel Kelly
59047                           Mignon Clyburn
59048                        Charles A. Miller
59049                           Rodolfo Parada
59050                     Giwi Margwelaschwili
59051                         Geoffrey Kipsang
59052                             Dave Nilsson
59053                           Jessica Jordan
59054                         Marina Mulyayeva
59055                      Jo%C3%ABl de Rosnay
59056                              Amy Jenkins
59057                 Roy Zimmerman (satirist)
59058                            George Krause
59059                               Sean Slade
59060                             Lynne Lipton
59061                                 Rod Wilt
59062                      Scott Baker (judge)
59063                   Dragoljub Ojdani%C4%87
59064                                Oz Bengur
59065        Dee Brown (basketball, born 1968)
59066                               Olari Elts
59067                           Scott F. Crago
59068                  David Cass (footballer)
59069                              Keith Elias
59070                             Fawaz Damrah

                                                    text
0      digby morrell born 10 october 1979 is a former...
1      alfred j lewy aka sandy lewy graduated from un...
2      harpdog brown is a singer and harmonica player...
3      franz rottensteiner born in waidmannsfeld lowe...
4      henry krvits born 30 december 1974 in tallinn ...
5      sam henderson born october 18 1969 is an ameri...
6      aaron lacrate is an american music producer re...
7      trevor ferguson aka john farrow born 11 novemb...
8      grant nelson born 27 april 1971 in london also...
9      cathy caruth born 1955 is frank h t rhodes pro...
10     sophia violet sophie crumb born september 27 1...
11     jenn ashworth is an english writer she was bor...
12     jonathan hoefler born august 22 1970 is an ame...
13     anthony fitzhardinge gueterbock 18th baron ber...
14     david chernushenko born june 1963 in calgary a...
15     joerg steineck is a german filmmaker editor an...
16     fr andrew pinsent born 19 august 1966 is resea...
17     paddy dunne was a gaelic football player from ...
18     alexandros mouzas born 1962 is a greek compose...
19     john angus campbell born march 10 1942 in port...
20     chris batstone was the 20002002 lead singer of...
21     ceiron thomas born 23 october 1983 is a welsh ...
22     adel sellimi arabic was born on 16 november 19...
23     faith soloway born march 28 1964 is an america...
24     tom jennings born 1955 as thomas daniel jennin...
25     victor john stasiuk born may 23 1929 is a reti...
26     anthony caruana born 2 january 1968 is a melbo...
27     ian mitchell is a scottish author who grew up ...
28     leon duane hapgood born 7 august 1979is an eng...
29     emily jordan osment born march 10 1992 is an a...
...                                                  ...
59041  mokob traor better known by the mononym mokob ...
59042  friedrich enzio busche born 5 april 1930 dortm...
59043  christian wiman is an american poet and editor...
59044  ellyn setnor bogdanoff born october 17 1959 wa...
59045  katya adler born 1972 is a british journalist ...
59046  anthonynoel kelly born 1956 is a british artis...
59047  mignon l clyburn born march 22 1962 is a commi...
59048  charles a miller born october 27 1937 in washi...
59049  rodolfo parada lillo is a chilean musician com...
59050  giwi margwelaschwili georgian born december 14...
59051  geoffrey kipsang kamworor born 22 november 199...
59052  david wayne nilsson born 14 december 1969 is a...
59053  jessica anne jordan burton born 6 may 1984 in ...
59054  marina vladimirovna mulyayeva kazakh born apri...
59055  jol de rosnay born 1937 phd from the massachus...
59056  amy jenkins born 1966 in london is an english ...
59057  roy zimmerman born october 7 1957 is an americ...
59058  george krause born 1937 philadelphia pennsylva...
59059  sean slade b november 14 1957 lansing michigan...
59060  lynne lipton is an american film stage televis...
59061  rod wilt is a former republican member of the ...
59062  sir thomas scott gillespie baker born 10 decem...
59063  dragoljub ojdani serbian cyrillic born june 1 ...
59064  osman oz bengur born february 23 1949 is an am...
59065  decovan kadell dee brown born november 29 1968...
59066  olari elts born april 27 1971 in tallinn eston...
59067  scott francis crago born july 26 1963 twin bro...
59068  david william royce cass born 27 march 1962 in...
59069  keith hector elias born february 3 1972 in lac...
59070  fawaz mohammed damrah arabic fawwz damra was t...

[59071 rows x 3 columns]>